.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

#detailsPokemon {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    width: 400px;
    height: 700px;

    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );

    border-radius: 10px;
    border: 10px solid rgba( 255, 255, 255, 0.40 );
}

.buttonClose {
    width: 30px;
    color: green;
    border: none;
    background: transparent;
    padding: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 345px;
}

.nameDetails {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 200px;
    color: Gray;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba( 255, 255, 255, 0.40);
    text-transform: capitalize;
}

.textDetails {
    font-weight: bold;
    color: #212121;
    font-size: 16px;
}

.numberDetails {
    color: Gray;
    font-size: 14px;
    margin-top: 180px;
}

.containerHeader {
    margin-top: 40px;
}

.typesList {
    margin-top: 30px;
}

.ol {
    display: flex;
    gap: 30px;
    margin-left: -20px;
    list-style: none;
}

.textAbilities {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    margin-left: -20px;
    list-style: none;
}

.tittleDetails {
    font-weight: bold;
    color: Gray;
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    margin-left: 14px;
    background-color: rgba( 0, 0, 0, 0.10);
}

.spanList {
    font-weight: bold;
    color: Gray;
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba( 0, 0, 0, 0.10);
}

.typeAbilities {
    margin-top: 10px;
    text-transform: capitalize;
    color: Gray;
}

.typeDetails {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: green;
}

.photo {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.photoPokemon {
    width: 250px;
    height: 300px;
}

.containerText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}



@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }

    #detailsPokemon {
       margin: 0px 10px;
    }

}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #detailsPokemon {
        margin: 0px 100px;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

     #detailsPokemon {
        margin: 0px 250px;
    }
}